<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Graph Visualization</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
</head>
<body>
    <div id="cy" style="width: 800px; height: 600px;"></div>
    <button id="play">Play</button>
    <button id="pause">Pause</button>
    <button id="next">Next</button>
    <script src="/static/js/app.js"></script>
</body>
</form>
</html>